/*  your css code here. If applicable */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial;
    Background-color: #f8f8f8;
}

.book-library{
    width:500px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;

    justify-content: center;
    align-items: center;
}

.book{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-bottom: 20px;
}
.author{
    color:#777777 ;
}
.buy{
    width: 100%;
    color: white;
    background-color: #2ecc71;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}