
/* Your CSS Code here. */

*{
	padding:0;
	margin:0;
	font-family:Arial;
}

body{
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  margin: 50px;
}

.book-library{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book{
  width: 100vw;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  /* author color #777777 */
  /* price-block color #2ecc71 */
}
.book-details{
  /* background-color:rgb(46, 204, 113) ; */
}
h2{
  margin: 10px;
}
.author{
  margin: 10px;
  color: #777777;
}

.price-block{
  margin: 10px;
  background-color: rgb(46, 204, 113);
  color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 5px;
}




