*{
  padding: 0;margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* 
Background color: #ffffff; Other CSS styles as required
Author color: #777777; Price-block color: #2ecc71 */

body{
  background-color: #f8f8f8;
  text-align: center;

}
.book-library{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.book{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px;
  background-color: #f8f8f8;
}

.book-title{
  margin: 10px;
  color: black;
}

.book-author{
  color: #777777;
}
.book-detail{
  background-color: #2ecc71;
  color: #ffffff;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
}

img{
  width: 300px;
}